<form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card-content">
        <span class="card-title">Create account</span>
        <div class="input-field">
            <input [ngClass]="{invalid: form.get('email').invalid && form.get('email').touched}" type="email" formControlName="email">
            <label for="email">Email:</label>
            <span class="helper-text red-text center" *ngIf="form.get('email').invalid && form.get('email').touched">
                <span class="helper-text red-text" *ngIf="form.get('email').errors['required']">
                    Field is required
                </span>
                <span class="helper-text red-text" *ngIf="form.get('email').errors['email']">
                    Email is not correct
                </span>
            </span>
        </div>
        <div class="input-field">
            <input [ngClass]="{invalid: form.get('password').invalid && form.get('password').touched}" type="password" formControlName="password">
            <label for="password">Password:</label>
            <span class="helper-text red-text center" *ngIf="form.get('password').invalid && form.get('password').touched">
                <span class="helper-text red-text" *ngIf="form.get('password').errors['required']">
                    Field is required
                </span>
                <span class="helper-text red-text" *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">
                    Min length: {{ form.get('password').errors['minlength']['requiredLength'] }} <br>
                    Current length: {{form.get('password').errors['minlength']['actualLength']}}
                </span>
            </span>
        </div>
    </div>
    <div class="card-action">
        <button type="submit" class="modal-action btn waves-effect" [disabled]="form.invalid || form.disabled">
            Register
        </button>
    </div>
</form>